src/main/resources/hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/"
           targetNamespace="http://www.baeldung.com/springsoap/gen" elementFormDefault="qualified">

    <xs:element name="getHotelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotel" type="tns:hotel"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="hotel">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="rating" type="xs:int"/>
            <xs:element name="amenities" type="tns:amenity"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="amenity">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
